# Virtual Environment
venv/
.venv/
env/

# Environment Files
.env
.env.*
!.env.example

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Static / Media
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build / Packaging
build/
dist/
*.egg-info/

# Secrets / Keys
*.pem
*.key